Style:
  AngledHeaders: [ "zinnia/.*", " kernel/.*" ]
---
CompileFlags:
  CompilationDatabase: /var/bootstrap-zinnia/build/pkg-builds/zinnia-servers
---
If:
  PathMatch: kernel/.*
CompileFlags:
  CompilationDatabase: /var/bootstrap-zinnia/build/pkg-builds/zinnia
